/* General Styles */
html{
    box-sizing: border-box;
    overflow-x: hidden;
}
*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-weight: 400;
    background-color: hsl(240, 75%, 98%);
    /* margin:0 10px; */
    overflow-x: hidden;
    text-align: center;
    font-size:16px;
    color:hsl(243, 87%, 12%)
}
header,#illust,#illust2,#testimonial{
    background-color: hsl(240, 75%, 98%);
}
/* Header Styles */
header{
    display: flex;
    margin: 40px 0;
    align-content: space-between;
}
header img{
    margin:0 5px;
    float:left
}
/* Nav Styles */
header ul{
    display:inherit;
    list-style: none;
    text-align: right;
    margin:0;
    float:right;
}
header ul li{
    margin:0 10px
}
/* Illustration 1 Styles */
#illust-1{
    margin:0 15px
}
#illust-1 h1{
    font-size:1.8rem /* 28px */;
    color:hsl(243, 87%, 12%);
    font-family: 700;
}
#illust-1 p{
    font-size:1.1em;
    color:hsl(243, 87%, 12%);
}

input[type='email']{
    width:100%;
    height:50px;
    padding: 10px 20px;
    margin:20px 0;
    border-radius:5px;
    border:1px solid white 
}
button{
    background-color:hsl(224, 93%, 58%);
    color:white;
    width:100%;
    height:50px;
    border-radius: 5px;
    border:1px solid hsl(224, 93%, 58%);
    font-size: 1.2em; /* 19.2px */ 
    margin-bottom: 90px;
}

/* Illustration 2 Styles */
#illust{
    margin-bottom: 40px;
}
#illust-2 p{ 
    text-align: left;
    color:hsl(238, 22%, 44%);
    font-size:1.1em;
}
#illust-2 p:last-of-type{
    margin-bottom: 50px;
}
#arrow img{
       margin:0 0 -5px 10px  ;

}
#arrow a{
     border-bottom: 1px solid white solid ;
     padding-bottom:7px;
     color: hsl(170, 45%, 43%)
}
/* Testimonial Styles */
/* #testimonial{
    position:relative;
} */
#testi-con{
    position: relative;
    margin: 90px 40px 100px 30px;
    text-align: left;
    font-size: 0.8em;
    border:2px solid white;
    background-color: white;
    padding:40px 13px 20px 20px;
    line-height: 1.6;
}
#quote-img{
    position:absolute;
    left:17px;
    top:30px;
}
#avatar-con{
    display: flex;
}
#avatar-con img{
    border-radius: 40px;
}
#avatar-img-con{
    width:50%
}
#avatar-text{
    margin-left:-80px;
}
#avatar-text h4{
    margin:0;
    font-weight: 700;
}
#avatar-text p{
    margin:0;
    font-size:0.8em
}
/* Sign Up Styles */
#signup{
    background-color: hsl(238, 22%, 44%);
    /* margin:0 !important ; */
    width:100%;
    padding:40px 30px;
    height:400px;
    color:white;
    margin-bottom:50px
}
#signup h3{
    /* font-weight: 400; */
}
#signup p{
    font-size:1.1em;
    line-height: 1.3;
}
#signup input,#signup button{
    width:80%
}

footer{
    /* background-color: hsl(243, 87%, 12%) ;*/
    
}