body{
    font-weight: 400;
    background-color: hsl(240, 75%, 98%);
    margin:0 10px;
    overflow-x: hidden;
    text-align: center;
}
header{
    display: flex;
    margin: 40px 0;
}
header img{
    margin:0 5px;
}
header ul{
    display:inherit;
    list-style: none;
    text-align: right;
    margin:0;
    width:200px
}
header ul li{
    margin:0 10px
}