html{
    box-sizing: border-box;
    overflow-x: hidden;
}
*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-weight: 400;
    background-color: hsl(240, 75%, 98%);
    margin:0 10px;
    overflow-x: hidden;
    text-align: center;
    font-size:16px
}
header{
    display: flex;
    margin: 40px 0;
}
header img{
    margin:0 5px;
}
header ul{
    display:inherit;
    list-style: none;
    text-align: right;
    margin:0;
    /* width:200px */
}
header ul li{
    margin:0 10px
}
#illust-1{
    margin:0 15px
}
#illust-1 h1{
    font-size:1.8rem /* 28px */;
    color:hsl(243, 87%, 12%);
    font-family: 700;
}
#illust-1 p{
    font-size:1.1em;
    color:hsl(243, 87%, 12%);
}

input[type='email']{
    width:100%;
    height:50px;
    padding: 10px 20px;
    margin:20px 0;
    border-radius:5px;
    border:1px solid hsl(243, 87%, 12%)
}
button{
    background-color:hsl(224, 93%, 58%);
    color:white;
    width:100%;
    height:50px;
    border-radius: 5px;
    border:1px solid hsl(224, 93%, 58%);
    /* font-weight: 700; */
    font-size: 1.2em;
}